h1{
    text-align: center;
    color:white;
    font-family: "Gill Sans", 'Gill Sans MT',
    calibri, 'Trebuchet MS',sans sans-serif;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    }

    li{ float:left;}
    li a{
        display: block;
        color:white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    li a:hover{
        background-color:gray;}
    
        body{
            width: 90%;
            max-width: 900px;
            margin: 2em auto;
            background-color: black;
           
            
        }
        /*nos deja especifircar cual de los parrafos queremos personalizar el header y el footer como en este caso.*/
        .container > div,header,footer{   
            border-radius: 5px;
            border: 2px solid black;
            padding:  20px;
            text-align: center;
            background-image: url(imagen.png);
            background-size:cover
            background-repeat: no-repeat;
            
        }
        .container {
            display: grid;
            grid-template-areas: 
            "header header"
            "sidebar content"
            "footer footert";
            grid-template-columns: 9fr 10fr;
            grid-gap: 10px; 
            font: 0.9em/1.2 "Times New Roman", Arial, Helvetica;
            background-image: url(slid1.png);
            background-size:contain;
            background-repeat: no-repeat;
            color: white;
        }
        header{
            grid-area: header;
        }
        article{
            grid-area: content;
        }
        aside{
            grid-area: sidebar;
        }
        footer{
            grid-area: footer; 
            background-color: white;
            
        }